/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {box-sizing: border-box;}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 15%;    
}
.controles-container2{
    width: 100%;
    padding: 1%;   
}

.micards{
    width: 100%;
    padding: 40px;    
}
.controles-container > * {
    width: 100%;
    }

    .add-bottom-padding{
        padding-bottom: 10px;
    }
    /* radio group */
mat-radio-group mat-radio-button{
    margin-left: 5px;
}

.button-row button{
    margin: 5px;
}